
<div id="nav" style="padding-top: 2%">
 <img src="assets/images/Logo_Cagitz.png">
  <!--<p  style="margin-top: -1%; margin-bottom: 2%" class="long-box today"><a>{{date | date: 'EEEE, d. MMMM y'}}</a></p>-->
</div>
<br>
<app-calendar (dateSelected)="dateSelected($event)"></app-calendar>
<div class="config">
  <h1>Wähle den Zeitraum der Sommerzeit:</h1>
  <mat-form-field style="width:100%;" appearance="outline">
    <mat-label>Wähle den Sommer-Zeitraum:</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Falsches Start-Datum</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Falsches End-Datum</mat-error>
  </mat-form-field>
  <button class="mat-button" (click)="setSommer()">Festlegen</button>
  <!--<p>Ausgewählter Sommer-Zeitraum: {{range.value | json}}</p>-->
  <div>

   <!-- <h1>Gesetzte Sommerzeit:</h1>-->
    <!--<li >{{summertime.start_date || "null"}} - {{summertime.end_date || "null"}}</li>-->

  </div>
</div>
<app-side-overview  ></app-side-overview>
