<div class="calendar">
  <mat-calendar #calendar [startAt]="today" [(selected)]="today" (selectedChange)="dateChanged()" [dateFilter]="weekendsDatesFilter" ></mat-calendar>
  <hr>
  <mat-calendar #calendar [startAt]="secondDate" [(selected)]="today" (selectedChange)="dateChanged()" [dateFilter]="weekendsDatesFilter"></mat-calendar>
  <hr>
  <mat-calendar #calendar [startAt]="thirdDate" [(selected)]="today" (selectedChange)="dateChanged()" [dateFilter]="weekendsDatesFilter"></mat-calendar>
</div>


