<div class="calendar">
  <mat-calendar #calendar [startAt]="firstDate" [(selected)]="firstDate" (selectedChange)="dateChanged()" [dateFilter]="weekendsDatesFilter"></mat-calendar>
 <!-- <hr>
  <mat-calendar #calendar [startAt]="secondDate" [(selected)]="secondDate" (selectedChange)="dateChanged()" [dateFilter]="weekendsDatesFilter"></mat-calendar>
  <hr>
  <mat-calendar #calendar [startAt]="thirdDate"  [(selected)]="thirdDate" (selectedChange)="dateChanged()" [dateFilter]="weekendsDatesFilter"></mat-calendar>
-->
</div>
