
<div id="nav">
  <p><a><mat-icon></mat-icon></a></p>
  <p class="long-box arrow" (click)="back()"><a><mat-icon>arrow_back</mat-icon></a></p>
  <p class="long-box today"><a>{{today}}</a></p>
  <p class="long-box arrow" (click)="forward()"><a><mat-icon>arrow_forward</mat-icon></a></p>
  <p><a (click)="openReservation()"><mat-icon>add</mat-icon></a></p>
</div>


<app-calendar></app-calendar>

<div class="timetable">

  <div class="tisch1"> <mat-icon>schedule</mat-icon></div>

  <div class="time"*ngFor="let element of data">{{element.time}}</div>
  <br>
  <br>
  <br>

  <div class="" *ngFor="let element of tablenr">
    <br>
    <div class="tisch" >{{element.nr}}</div>

    <div class="box" *ngFor="let element of data" (click)="openReservation()"><a></a></div>
    <br>
    <br>
    <br>
  </div>

</div>

<app-side-overview></app-side-overview>

<div id="time">
  <div class="solts" class="box1" >
   <p class="slots">3/11</p>
  </div>
  <div class="solts"class="box1">
    <p class="slots">3/11</p>
  </div>
  <div class="solts" class="box2">
    <p class="slots">3/11</p>
  </div>
  <div class="solts" class="box1">
    <p class="slots">3/11</p>
  </div>
</div>


