.grid-container{
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  width: 100%;
}
.drag-wrapper{

}
.drag-block-handle{
  width: 100px;
  height: 30px;
  margin-top: -20px;
  padding-top: 10px;
  margin-bottom: 10px;
  background-color: green;
  border-radius: 10px;
  cursor: pointer;
}
.drag-grid{
  resize: horizontal;
  overflow: auto;
  position: absolute;
  background-color: green;
  border-radius: 10px;
  width: 100px;
  height: 35px;
}
.grid{

}
.box {
  padding-bottom: 15%; padding-top: 10%;
  margin-bottom: 14.6px;
  margin-left: 0;
  margin-right: 0;
  width: 90%;
  border: lightgray solid 1px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
  color: #fff;
}
.box:hover{
  background-color: green;
  color:green;
}
.box a {
  padding: 2%;
}

#timesReservation {
  position: fixed;
  top: 0;
  width: 57.5%;
  margin-left: 2.5%;
  margin-top: 9%;
  margin-bottom: 2%;
  background-color: white;
  border-radius: 10px;
  padding: 3px;
  z-index: 100;
}

#timesReservation h3 {
  font-size: 1vw;
  width: 5.25%;
  margin-right: 3.8%;
  float: left;
  font-weight: bold;
  margin-bottom: 0;
}

.reservationNachname {
  color: #fff;
  padding-top: 15%;
  text-align: center;
}

.tableNrBox {
  padding-bottom: 20%; padding-top: 15%;
  margin-bottom: 15.05px;
  margin-left: 0;
  margin-right: 0;
  width: 35px;
  border: lightgray solid 1px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
  color: #fff;
}

.tableNrBox a {
  padding: 2%;
}
span{
  color: white;
  opacity: 0.5;
  background-color: green;
  text-align: center;
  display:none;
  padding: 10%;
  border-radius: 15px;

}
span:after{
  content:'';
  position:absolute;
  left:50%;
  transform:rotate(45deg);
}

.tableNr:hover span{
  display:block;
}

.tableNr {
  position: relative;
  display: inline-block;
 // border-bottom: 1px dotted black;
}

.tableNr .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tableNr:hover .tooltiptext {
  visibility: visible;
}

img{
  width: 5%;
  position: absolute;
  margin-left: -36% ;
  margin-top: -1%;
}
