<div id="nav" style="padding-top: 2%">
  <!-- <p><a><mat-icon></mat-icon></a></p>
   <p class="long-box arrow" (click)="back()"><a><mat-icon>arrow_back</mat-icon></a></p>
   <p class="long-box today"><a>{{today}}</a></p>
   <p class="long-box arrow" (click)="forward()"><a><mat-icon>arrow_forward</mat-icon></a></p>
   <p><a (click)="openReservation()"><mat-icon>add</mat-icon></a></p>-->
</div>

<app-calendar (dateSelected)="dateSelected($event)"></app-calendar>


<app-side-overview></app-side-overview>

<app-room-cards></app-room-cards>

