
<div id="nav">
  <p><a><mat-icon></mat-icon></a></p>
  <p class="long-box arrow" (click)="back()"><a><mat-icon>arrow_back</mat-icon></a></p>
  <p class="long-box today"><a>{{today}}</a></p>
  <p class="long-box arrow" (click)="forward()"><a><mat-icon>arrow_forward</mat-icon></a></p>
  <p><a (click)="openReservation()"><mat-icon>add</mat-icon></a></p>
</div>

<app-calendar></app-calendar>

<app-timetable></app-timetable>

<div id="time">
  <div class="solts" class="box1" >
   <p class="slots">3/11</p>
  </div>
  <div class="solts"class="box1">
    <p class="slots">3/11</p>
  </div>
  <div class="solts" class="box2">
    <p class="slots">3/11</p>
  </div>
  <div class="solts" class="box1">
    <p class="slots">3/11</p>
  </div>
</div>



