.grid-container{
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  width: 100%;
}
.drag-wrapper{

}
.drag-block-handle{
  width: 100px;
  height: 30px;
  margin-top: -20px;
  padding-top: 10px;
  margin-bottom: 10px;
  background-color: green;
  border-radius: 10px;
}
.drag-grid{
  resize: horizontal;
  overflow: auto;
  position: absolute;
  background-color: green;
  border-radius: 10px;
  width: 100px;
  height: 35px;
}
.grid{

}
.box {
  padding-bottom: 15%; padding-top: 10%;
  margin-bottom: 14.75px;
  margin-left: 0;
  margin-right: 0;
  width: 90%;
  border: lightgray solid 1px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
  color: #fff;
}
.box:hover{
  background-color: green;
  color:green;
}
.box a {
  padding: 2%;
}

#timesReservation {
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 0;
  margin-left: 4.3%;
}

#timesReservation h3 {
  font-size: 1vw;
  width: 8.7%;
  float: left;
  font-weight: bold;
  margin-bottom: 0;
}

.reservationNachname {
  color: #fff;
  padding-top: 15%;
  text-align: center;
}

.tableNrBox {
  padding-bottom: 15%; padding-top: 10%;
  margin-bottom: 15.55px;
  margin-left: 0;
  margin-right: 0;
  width: 35px;
  border: lightgray solid 1px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
  color: #fff;
}

.tableNrBox a {
  padding: 2%;
}
