<div id="cards">
<mat-card  routerLink="/dashboard"  style="float:left;">
  <img mat-card-image src="../../../assets/images/Bachstube.jpeg">
</mat-card>

<mat-card  routerLink="/dashboard"  style="float:left;">
  <img mat-card-image src="../../../assets/images/Nebenzimmer.jpeg">
</mat-card>

<mat-card  routerLink="/dashboard"  style="float:left;">
  <img mat-card-image src="../../../assets/images/Stube.jpeg">
</mat-card>

<mat-card routerLink="/dashboard" style="float:left;">
  <img mat-card-image src="../../../assets/images/Saal.jpeg">

</mat-card>

<mat-card  routerLink="/dashboard"  style="float:left;margin-left:19%;">
  <img mat-card-image src="../../../assets/images/Gastgarten.jpeg">
</mat-card>

<mat-card style="float:left;">
  <img mat-card-image src="../../../assets/images/Terasse.jpeg">
</mat-card>
</div>
