<h1>Wählen Sie einen Raum:</h1>

<div id="cards">
  <mat-card  routerLink="/tabs">
    <img style="margin-top: 2%" mat-card-image src="../../../assets/images/BACHSTUBE.png">
    <div class="centered"><p>BACHSTÜBERL</p></div>
  </mat-card>

  <mat-card  routerLink="/tabs">
    <img style="margin-top: 2%" mat-card-image src="../../../assets/images/NEBENZIMMER.png">
    <div class="centered"><p>NEBENZIMMER</p></div>
  </mat-card>

  <mat-card  routerLink="/tabs">
    <img style="margin-top: 2%" mat-card-image src="../../../assets/images/STUBE.png">
    <div class="centered"><p>GASTSTÜBERL</p></div>
  </mat-card>

  <mat-card  routerLink="/tabs">
    <img style="margin-top: 2%" mat-card-image src="../../../assets/images/SAAL.png">
    <div class="centered"><p>SAAL</p></div>
  </mat-card>

  <mat-card>
    <img style="filter: grayscale(1) blur(5px); margin-top: 2%" mat-card-image src="../../../assets/images/TERASSE.png">
    <div class="centered"><p>TERASSE</p></div>
  </mat-card>

  <mat-card>
    <img style="filter: grayscale(1) blur(5px); margin-top: 2%" mat-card-image src="../../../assets/images/GASTGARTEN.png">
    <div class="centered"><p>GASTGARTEN</p></div>
  </mat-card>
</div>
