<div id="cards">
  <mat-card  routerLink="/dashboard">
    <img mat-card-image src="../../../assets/images/BACHSTUBE.png">
    <div class="centered"><p>BACHSTUBE</p></div>
  </mat-card>

  <mat-card  routerLink="/dashboard">
    <img mat-card-image src="../../../assets/images/NEBENZIMMER.png">
    <div class="centered"><p>NEBENZIMMER</p></div>
  </mat-card>

  <mat-card  routerLink="/dashboard">
    <img mat-card-image src="../../../assets/images/STUBE.png">
    <div class="centered"><p>STUBE</p></div>
  </mat-card>

  <mat-card routerLink="/dashboard">
    <img mat-card-image src="../../../assets/images/GASTGARTEN.png">
    <div class="centered"><p>GASTGARTEN</p></div>
  </mat-card>

  <mat-card  routerLink="/dashboard">
    <img mat-card-image src="../../../assets/images/SAAL.png">
    <div class="centered"><p>SAAL</p></div>
  </mat-card>

  <mat-card routerLink="/dashboard">
    <img mat-card-image src="../../../assets/images/TERASSE.png">
    <div class="centered"><p>TERASSE</p></div>
  </mat-card>
</div>
