<div class="container">
  <mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="center" mat-tab-group mat-align-tabs="start" [selectedIndex]="1">
    <mat-tab [disabled]="true">
      <ng-template mat-tab-label>
        <img style="width: 30%;" src="assets/images/Logo_Cagitz.png">
      </ng-template>
    </mat-tab>
    <mat-tab label="Alle">
      <app-dayview-page [Room]="0"></app-dayview-page>
    </mat-tab>
    <mat-tab [disabled]="isWinter(room.summer_winter)" *ngFor="let room of rooms" label="{{room.room_name}}">
      <app-dayview-page [Room]="room.room_id"></app-dayview-page>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>settings</mat-icon>
      </ng-template>
      <app-config></app-config>
    </mat-tab>
  </mat-tab-group>
</div>
