
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$reservation-system-primary: mat.define-palette(mat.$indigo-palette);
$reservation-system-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$reservation-system-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$reservation-system-theme: mat.define-light-theme((
  color: (
    primary: $reservation-system-primary,
    accent: $reservation-system-accent,
    warn: $reservation-system-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($reservation-system-theme);

@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Work Sans
, "Helvetica Neue", sans-serif; }

.timetable section .time-seconds-label {
  visibility: hidden;
}

.timetable {
  width:60%;
  float: left;
  marign-top:1%;
  font-size: 120%;
}

.mat-icon{
  font-size: 2rem;
  vertical-align: super;
  cursor: pointer;
}


#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

#nav p {
  float: left;
  margin-left: 8%;
  border-radius: 16px;
  margin-top: 2%;
}
.arrow{
  padding-top: 0;
  padding-bottom: 0;
}
.today{
  margin-top: 10%;
}

#nav p a {
  display: block;
  color: black;
  text-align: center;
  padding-top: 16px;
  text-decoration: none;

}

#nav .long-box{

  padding-left: 75px;
  padding-right: 75px;
}

#nav{
  font-size: 150%;
  text-align: center;

}

li{
  border-radius: 10px;
  text-align: center;
  height: 50%;
  background-color: white;
}

ul{
  padding: 5%;
}

.time-entry{
  border-radius: 10px;
  padding: 10px;

}
.room-timeline  li{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 15%;
}

span span{
  padding: 2%;

}
.timetable aside ul li {
  padding: 0 15px;
  background-color: white;
  line-height: 46px;
  margin: 8%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#nav p a{
  font-size: 150%;
  text-shadow: 0 0 10px lightgrey, 0 0 10px lightgrey;
}

.mat-icon {
  text-shadow: 0 0 10px lightgrey, 0 0 10px lightgrey;
}

/*RESERVIERUNG*/


#headline{
  color:rgb(38, 95, 25);
}

label{
  font-size:18px;
  font-weight:bold;
  color:rgb(38, 95, 25)
}

input[type=submit]{
  background-color: rgba(81, 154, 64, 0.2);
  border:none;
  color:rgb(38, 95, 25);
  font-weight:bold;
}

input[type=button]{
  background-color: rgba(81, 154, 64, 0.2);
  border:none;
  color:rgb(38, 95, 25);
  font-weight:bold;
}

.d-flex{
  margin-top: 3%;
}

#overview{
  margin-top: 1.5%;
  width: 15%;
  height:40%;
  border: green 3px solid;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
  border-radius: 10px;
}

.timetable{
float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

#time{
  width:57%;
  height:4%;
  border: green 3px solid;
  background-color: white;
  float:left;
  position: sticky;
  bottom: 0;
  z-index: 2;
  margin-left:20.8%;
  margin-right:25%;
  margin-bottom: 20%;
  margin-top: -50px;
  border-radius: 5px;
}

.timetable ul.room-timeline li:after{
  z-index: 1;
}

.slots{
  padding-top: 2%;
  font-size: 150%;
}
.box1{
  padding-top: 3%;
  margin-left:10%;
  float:left
}

.box2{
  padding-top: 3%;
  margin-left:40%;
  float:left
}

.box{
  float:left;
  border: green solid 2px;
  margin-left: 0.3%;
  padding: 2%;
  text-align: center;
  border-radius: 5px;
  padding-left: 4.3%;
}

.tisch{
  background-color: darkseagreen;
  border: rgba(0,0,0,0) solid 2px;
  background-color: darkseagreen;
  float:left;
  padding: 2%;
  width: 2%;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  -webkit-box-shadow: 0px 0px 2.5px 0px darkseagreen;
  box-shadow: 0px 0px 2.5px 0px darkseagreen;
}
.backdropBackground{
  backdrop-filter: blur(1rem);
}

.time{
  float:left;
  background-color: darkseagreen;
  border: rgba(0,0,0,0) solid 2px;
  margin-left: 0.575%;
  padding: 2%;
  text-align: center;
  border-radius: 5px;
  width: 2%;
  color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px darkseagreen;
  box-shadow: 0px 0px 5px 0px darkseagreen;
}

.tisch1{
  float:left;
  padding: 1.5%;
  text-align: center;
  border-radius: 5px;
}

.tisch1 mat-icon{
  padding: 1%;
}

.wrapper {
  width: 100%;
  display: flex;
}

.calendar{
  float: left;
  width:15%;
  height:50%;
  margin-left: 2%;
}

hr{
  color: green;
}

.mat-calendar{
  color:green;
}

.full-width-field {
  width: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
  visibility: hidden;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: green;
  color: green;
}

.mat-dialog-container{
  padding: 5px;
  height: 100%;
  overflow: hidden;

}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-progress-bar-buffer {
  background-color: #b6ccb6;
}

.mat-progress-bar-fill::after {
  background-color: green;
}
.mat-form-field-flex{
  background-color: #b6ccb6;
  border-radius: 15px;
}

