/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Work Sans
, "Helvetica Neue", sans-serif; }

.timetable section .time-seconds-label {
  visibility: hidden;
}

.timetable {
  margin:1%;
  marign-top:10%;
  font-size: 120%;
}

.mat-icon{
  font-size: 2rem;
  vertical-align: super;
  cursor: pointer;
}


#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

#nav p {
  float: left;
  margin-left: 8%;
  border-radius: 16px;
  margin-top: 2%;
}
.arrow{
  padding-top: 0;
  padding-bottom: 0;
}
.today{
  margin-top: 10%;
}

#nav p a {
  display: block;
  color: black;
  text-align: center;
  padding-top: 16px;
  text-decoration: none;

}

#nav .long-box{

  padding-left: 75px;
  padding-right: 75px;
}

#nav{
  font-size: 150%;
  text-align: center;

}

li{
  border-radius: 10px;
  text-align: center;
  height: 50%;
  background-color: white;
}

ul{
  padding: 5%;
}

.time-entry{
  border-radius: 10px;
  padding: 10px;

}
.room-timeline  li{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 15%;
}

span span{
  padding: 2%;

}
.timetable aside ul li {
  padding: 0 15px;
  background-color: white;
  line-height: 46px;
  margin: 8%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#nav p a{
  font-size: 150%;
  text-shadow: 0 0 10px lightgrey, 0 0 10px lightgrey;
}

.mat-icon {
  text-shadow: 0 0 10px lightgrey, 0 0 10px lightgrey;
}

/*RESERVIERUNG*/

