
img{
  width: 4%;
  position: absolute;
  margin-left: 55%;
  margin-top: -1%;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Trebuchet MS";
}

#title{
  text-align:center;
  font-weight: bold;
  font-size:180%;
  color:green;
}

#subtitle{
  text-align:center;
  font-size:150%;
  color: green;
}

form{
  margin-left:5%;
  margin-right:5%;
}

input[type=text]{
  background-color: #9bc29b;
  color: black;
}

.input{
  height: 20%;
}

#nameForm mat-form-field{
  width:95%;
  font-size:100%;
}

form{
  margin-top:2%;
}

#telForm {
  float: left;
  width:42.5%;
}

#telForm mat-form-field{
  width:100%;
  margin-right:10%;
  float:left;
  font-size:100%;
}

#tel {
  padding: 2.5%;
}

#emailForm {
  float: left;
  width: 42.5%;
  margin-left: 10%;
}

#emailForm mat-form-field{
  width:100%;
  font-size:100%;
}

#email{
  padding: 2.5%;
  float:left;
}

input {
  font-weight: bold;
  font-size: 140%;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}

input[type=text]{
  padding:1.2%;
  border: solid green 3px;
  border-radius: 20px;
  background-color: #9bc29b;
  font-size: 120%;

}

input[type=time]{
  width:44.6%;
  padding:2%;
  background-color: #9bc29b;
  border: solid green 3px;
  border-radius: 20px;
  font-size: 120%;
}

#startzeit{
  float:left;
  margin-right:8%;
}

#endInput{
  margin-top:-2%;
}

label{
  font-size:120%;
  color:green;
  text-transform: uppercase;
}

#anmerkungArea mat-form-field{
  width: 97%;
  background-color: #9bc29b;
  border: solid green 3px;
  border-radius: 20px;
  font-size:130%;
  font-weight: bold;
  padding-left:2%;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}

#anzInput input[type=number]{
  width: 90%;
  margin-left: 65%;
  background-color: #9bc29b;
  padding-right: 190%;
  padding-bottom:16%;
  padding-top: 16%;
  padding-left:8%;
  border: solid green 3px;
  border-radius: 20px;
  font-size:120%;
  float: left;
}

#dateInput{
  float:left;
  width: 42.5%;
  margin-top: 1%;
}

#dateInput .datepicker-input{
  background-color: #9bc29b;
  padding-bottom: 6%;
  padding-top: 6%;
  padding-left: 5%;
  padding-right: 5%;
  border: solid green 3px;
  border-radius: 20px;
  font-size: 120%;
}

#anzInput {
  margin-top: 1%;
}

#anzLabel{
  margin-left: 10.5%;
}

#abbruch{
  background-color: #9bc29b;
  color: #000;
  padding:2%;
  width:25%;
  font-size:100%;
  margin-left:20%;
  margin-right:5%;
  font-weight:bold;
  border-color: #9bc29b;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}

#reservieren{
  background-color: green;
  color: #fff;
  padding:2%;
  width:25%;
  font-weight: bold;
  font-size:100%;
  border-color: green;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}

#emailLabel {
  margin-top: -100%;
}

h3, h2{
  text-align: center;
  font-weight: bold;
  color: green;
}

h2{
  font-size: 200%;
  text-transform: uppercase;
}

