<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
  <link href="https://unpkg.com/bulma-calendar@6.0.7/dist/css/bulma-calendar.min.css" rel="stylesheet" />
  <script src="https://unpkg.com/bulma-calendar@6.0.7/dist/js/bulma-calendar.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
  <form style="margin: 5%;" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" [formGroup]="addressForm" >
      <h2 id="title">Neue Reservierung</h2>

    <div>
    <p>Name:</p>
    <mat-form-field required style="width: 100%;">
      <input matInput type="text" name="name" formControlName="name" id="name" >
      <mat-error *ngIf="addressForm.controls['name'].hasError('required') ">
        Name <strong>eingeben</strong>
      </mat-error>
      <mat-error *ngIf="addressForm.controls['name'].hasError('minlength') ">
        Name <strong>ist nicht gültig</strong>
      </mat-error>
    </mat-form-field>
    </div>
    <br>

    <div class="pickers">
      <div style=" float:left;width: 50%; margin-right:4%;">
      <p for="datum">Datum:</p>
      <div class="datepicker"  style="width: 100%;">
        <input [valueAsDate]="data.date" class="datepicker-input" id="datum" type="date" name="datum" formControlName="datum" >
      </div>
    </div>
      <div style=" float:left; width: 22%;margin-right:5%;margin-top:0.2%;">
      <p for="startzeit" style="text-align: center">Startzeit:</p>
      <div class="datepicker" style="width: 100%;">
        <input class=" datepicker-input"  type="time" name="startzeit" formControlName="startzeit" style="padding:8.5%">
      </div>
      </div>

      <div style=" float:left; width: 22%;margin-right:1%; margin-top:0.2%;">
      <p for="endzeit" style="text-align: center">Endzeit:</p>
      <div class="datepicker" style="width: 100%;">
        <input class=" datepicker-input " type="time" name="endzeit" formControlName="endzeit" style="padding:8.5%">
      </div>
      </div>
    </div>
<br>

    <div style="float: left; width: 48%;">
      <p>Personenanzahl:</p>
      <mat-form-field  style="width: 100%;">
        <input matInput type="number" name="personenanzahl" formControlName="personenanzahl" >
      </mat-form-field>
    </div>


    <div>
      <p id="tischnummer">Tischnummer:</p>
      <mat-form-field  style="width: 48%;margin-left:3.5%;">
      <input matInput type="number" name="tischnummer" formControlName="tischnummer">
    </mat-form-field>
    </div>

<div  style="float: left; width: 48%; margin-right:4%;">
  <p>Telefonnummer:</p>
    <mat-form-field style="width: 100%;">
      <input matInput type="text" name="telefonnummer" formControlName="telefonnummer">
      <mat-error *ngIf="addressForm.controls['telefonnummer'].hasError('required')">
        Telefonnummer <strong>wird benötigt</strong>
      </mat-error>
      <mat-error *ngIf="addressForm.controls['telefonnummer'].hasError('minlength')">
        Telefonnummer <strong>ist nicht gültig</strong>
      </mat-error>
    </mat-form-field>
</div>

    <div>
      <p>E-Mail:</p>
      <mat-form-field style="width: 48%;">
        <input matInput type="text" name="email" formControlName="email">
        <mat-error *ngIf="addressForm.controls['email'].hasError('email') ">
          E-Mail <strong>ist nicht gültig</strong>
        </mat-error>
      </mat-form-field >
    </div>

    <br>

    <div>
      <p>Anmerkungen:</p>
    <mat-form-field style="width: 100%;">
      <textarea id="anmerkung" class="full-width-field" name="anmerkung" formControlName="anmerkungen" matInput></textarea>
    </mat-form-field>
    </div>
    <br>
    <button [disabled]="addressForm.valid" type="submit" class="form-control button" style="margin-left: 20%;  border-radius: 15px; padding:2.5%; font-family: 'Trebuchet MS';" id="reservieren">Reservieren</button>
    <button (click)="onNoClick()" type='button' class="form-control button" id="abbruch">Abbruch</button>

  </form>
