
html, body { height: 100%;}
body { margin: 0; font-family: "Trebuchet MS"; }


#title{
  text-align:center;
  text-transform: uppercase;
  font-weight: bold;
  font-size:250%;
  color:green;
}

#subtitle{
  text-align:center;
  font-size:170%;
  color: green;
}

form{
  margin-left:5%;
  margin-right:5%;
}

input[type=text]{
  background-color: #a5cea5;
}


#nameForm mat-form-field{
  width:95%;
  font-size:120%;
}

form{
  margin-top:2%;
}

#telForm  mat-form-field{
  width:42.5%;
  margin-right:10%;
  float:left;
  font-size:120%;
}

#tel {
  padding: 2.5%;
}

#emailForm mat-form-field{
  width:42.5%;
  margin-top:-1.5%;
  font-size:120%;
}

#email{
  padding: 2.5%;
  float:left;
}

input[type=text]{
  padding:1.2%;
  border-radius: 5px;
  background-color: #a5cea5;
  font-size:120%;
}

input[type=time]{
  width:44.6%;
  padding:2%;
  background-color: #a5cea5;
  border:solid #a5cea5 1px;
  border-radius: 5px;
  font-size:120%;
}

#startzeit{
  float:left;
  margin-right:8%;
}
#endInput{
  margin-top:-1.5%;
}

label{
  font-size:120%;
  font-weight:bold;
  color:green;
  text-transform: uppercase;
}

#anmerkungArea mat-form-field{
  width: 97%;
  background-color: #a5cea5;
  border-radius: 5px;
  font-size:120%;
}

#anzInput input[type=number]{
  margin-left:235%;
  background-color: #a5cea5;
  padding-right: 190%;
  padding-bottom:16%;
  padding-top: 16%;
  padding-left:8%;
  border-radius: 5px;
  font-size:120%;
}

#dateInput{
  float:left;
}

#dateInput .datepicker-input{
  background-color: #a5cea5;
  padding-right: 190%;
  padding-bottom:16%;
  padding-top: 16%;
  padding-left:8%;
  border-radius: 5px;
  font-size:120%;
}

#anzLabel{
  margin-left:35.3%;
}
