<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<form>
  <label for="nachname">Nachname:</label><br>
  <input type="text" id="nachname" name="nachname"><br>

  <label for="telefonnummer">Telefonnummer:</label><br>
  <input type="text" id="telefonnummer" name="telefonnummer"><br>

  <label for="tischnr">Tischnummer</label>
  <select id="tischnr" name="tischnr">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">11</option>
    <option value="12">12</option>
  </select>

  <label for="start">Datum:</label>
  <input type="date" id="start" name="trip-start">

  <label for="personenanz">Personenanzahl</label>
  <select id="personenanz" name="personenanz">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">11</option>
    <option value="12">12</option>
  </select>

</form>

</body>
</html>
