#overview {
  height: 100%;
}

#overview hr {
  background-color: green;
  border: green solid 1px;
  margin: 0;
}

#overview h3 {
  margin-bottom: 2.5%;
  font-weight: bold;
  margin-top: 2.5%;
}

#reservationInfo {

}

#reservationInfo h3 {
  margin-bottom: 2.5%;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 2.5%;
}

.info {
  width: 100%;
  margin-left: 5%;
  font-weight: bold;
}

#tagesauslastungInfo {

}

#tagesauslastungInfo h3 {
  margin-bottom: 2.5%;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 2.5%;
}

.raumauslastungInfo {

}

.raumauslastungInfo h3 {
  margin-bottom: 2.5%;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 2.5%;
}

.progressBar {
  width: 100%;
  margin-left: 5%;
  font-weight: bold;
  height: 25px;
  border-radius: 5px;
}
