<div id="overview">
  <h3 style="text-align: center">Infos</h3>
  <hr>
  <div *ngIf="resultPerDayNoon" class="raumauslastungInfo">
    <h3>Tagesauslastung Mittag: {{resultPerDayNoon}}%</h3>
    <mat-progress-bar class="progressBar" value="{{resultPerDayNoon}}" mode="determinate" style="width: 90%"></mat-progress-bar>
  </div>
  <div *ngIf="resultPerDayEvening" class="raumauslastungInfo">
    <hr style="margin-left: 5%; margin-right: 5%; margin-top: 5%;">
    <h3>Tagesauslastung Abend: {{resultPerDayEvening}}%</h3>
    <mat-progress-bar class="progressBar" value="{{resultPerDayEvening}}" mode="determinate" style="width: 90%"></mat-progress-bar>
  </div>
  <div *ngIf="resultPerWeek" class="raumauslastungInfo">
    <hr style="margin-left: 5%; margin-right: 5%; margin-top: 5%;">
    <h3>Wochenauslastung: {{resultPerWeek}}%</h3>
    <mat-progress-bar class="progressBar" value="{{resultPerWeek}}" mode="determinate" style="width: 90%"></mat-progress-bar>
  </div>
  <div *ngIf="infoReservation" id="reservationInfo">
    <hr style="margin-left: 5%; margin-right: 5%; margin-top: 5%;">
    <h3>Reservierung</h3>
    <form  (ngSubmit)="updateReservation()" [formGroup]="updateForm" >

      <p class="info">Name: <span><input matInput type="text" name="name" formControlName="name" id="name" ></span></p>
        <mat-error *ngIf="updateForm.controls['name'].hasError('required') ">
          Name muss <b>eingeben</b> werden!
        </mat-error>
        <mat-error *ngIf="updateForm.controls['name'].hasError('minlength') ">
          Name <b>ist nicht gültig</b>
        </mat-error>

    <p class="info">Personenanzahl: <span style="font-weight: normal"><input matInput min="1" max="10" type="number" name="personenanzahl" formControlName="personenanzahl" >Personen</span></p>

        <p class="info">Uhrzeit: <span style="font-weight: normal">{{infoReservation.start_time}} - {{infoReservation.end_time}} Uhr</span></p>

      <p class="info">Tischnummer: <span style="font-weight: normal"><input matInput min="1" max="100" type="number" name="tischnummer" formControlName="tischnummer" >
      </span></p>

    <p class="info" type="submit" id="bearbeitenButton" (click)="updateReservation()">Ändern</p>
  </form>
    <p class="info" type="button" id="loeschenButton" (click)="deleteReservation(infoReservation.reservation_id)">Löschen</p>
  </div>
  <hr style="margin-left: 5%; margin-right: 5%; margin-top: 5%;">
</div>
