<div id="overview">
  <h3 style="text-align: center">Infos</h3>
  <hr>
  <div *ngIf="resultPerDayNoon" class="raumauslastungInfo">
    <h3>Tagesauslastung Mittag: {{resultPerDayNoon}}%</h3>
    <mat-progress-bar class="progressBar" value="{{resultPerDayNoon}}" mode="determinate" style="width: 90%"></mat-progress-bar>
  </div>
  <div *ngIf="resultPerDayEvening" class="raumauslastungInfo">
    <hr style="margin-left: 5%; margin-right: 5%; margin-top: 5%;">
    <h3>Tagesauslastung Abend: {{resultPerDayEvening}}%</h3>
    <mat-progress-bar class="progressBar" value="{{resultPerDayEvening}}" mode="determinate" style="width: 90%"></mat-progress-bar>
  </div>
  <div *ngIf="resultPerWeek" class="raumauslastungInfo">
    <hr style="margin-left: 5%; margin-right: 5%; margin-top: 5%;">
    <h3>Wochenauslastung: {{resultPerWeek}}%</h3>
    <mat-progress-bar class="progressBar" value="{{resultPerWeek}}" mode="determinate" style="width: 90%"></mat-progress-bar>
  </div>
  <div *ngIf="infoReservation" id="reservationInfo">
    <hr style="margin-left: 5%; margin-right: 5%; margin-top: 5%;">
    <h3>Reservierung</h3>
    <p class="info">Nachname: <span style="font-weight: normal">{{infoReservation.customer_name}}</span></p>
    <p class="info">Personenanzahl: <span style="font-weight: normal">{{infoReservation.person_amount}} Personen</span></p>
    <p class="info">Uhrzeit: <span style="font-weight: normal">{{infoReservation.start_time}} - {{infoReservation.end_time}} Uhr</span></p>
    <p class="info">Tischnummer: <span style="font-weight: normal">{{infoReservation.tableEntity.tableno}}</span></p>
    <p class="info" id="bearbeitenButton" (click)="changeReservation(infoReservation.reservation_id)">Bearbeiten</p>
  </div>
  <hr style="margin-left: 5%; margin-right: 5%; margin-top: 5%;">
</div>
